body {
  min-height: 95vh;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  /* min-width: 95vw; */
  background-color: #e6feef;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  margin: 0 5%;
}
html {
  height: -webkit-fill-available;
  height: fill-available;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 1020px) {
  body {
    margin: 0 1%;
  }
}
