.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 3em;
}

.text {
  text-align: start;
}

.button {
  background-color: #2d7648;
  float: right;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.9s ease;
  position: relative;
  top: 50%;
  margin: 10px;
}

.button:hover {
  transform: scale(1.1);
  color: #e6feef;
  background-color: #42b36b;
}

.imgcontainer {
  /* background-color: black; */
  margin: 2em;
}

.img {
  height: 70vh;
  width: 70vh;
  object-fit: fill;
}

.title {
  font-size: 45px;
}

.description {
  font-size: 25px;
  font-weight: normal;
}
