.hero {
  /* background: url("/client/public/blurry-gradient-haikei.svg"); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 6em;
  gap: 3em;
}

.text {
  text-align: start;
  margin-left: 2em;
}

.button {
  background-color: #d2142d;
  border: none;
  color: #e8fdef;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.9s ease;
  position: relative;
  top: 50%;
  margin: 10px;
}

.button:hover {
  transform: scale(1.1);
  color: #e8fdef;
  background-color: #42b36b;
}

.img {
  margin: 2em;
  height: 20em;
  width: 20em;
  background-color: black;
}
