.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 78vh;
  gap: 3em;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 55px;
  display: inline-flex;
  align-items: center;
}
.gradientTitle {
  font-size: 55px;
  margin-left: 0.25em;
  /* margin-bottom: 0; */
  background: -webkit-linear-gradient(120deg, #2d7648, #d2142d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text {
  text-align: start;
  animation: 1.5s ease-out 0s 1 slideFromLeft;
}

.button {
  background-color: #2d7648;
  float: right;
  border: 1px solid rgba(0, 0, 0, 1);
  color: #ffffff;
  cursor: pointer;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  z-index: 2;
  top: 50%;
  margin: 10px;
}

.button:hover {
  transform: scale(1.1);
  color: #e6feef;
  background-color: #42b36b;
}

.imgcontainer {
  /* background-color: black; */
  animation: 1.5s ease-out 0s 1 fadeIn;
  transition: transform ease 0.2s, box-shadow ease 0.2s;

  margin: 2em;
}

.imgcontainer:hover {
  transform: scale(1.2);
}

.img {
  height: 70vh;
  width: 70vh;
  object-fit: fill;
}

.description {
  font-size: 25px;
  margin-top: 0;
  font-weight: normal;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1020px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
    gap: 0;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img {
    height: 40vh;
    width: 40vh;
    object-fit: fill;
  }

  .description {
    text-align: center;
  }
}
