.page_404 {
  padding: 40px 0;
  background: transparent;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url("../images/foodies-burger.gif");
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 498px;
  background-position: center;
  /* margin: px; */
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;

  width: 500px;
  height: 500px;
}
.message-content {
  top: 80%;
  position: relative;
  color: #e8fdef;
}

.button {
  background-color: #d2142d;
  border: 1px solid rgba(0, 0, 0, 1);
  color: #e8fdef;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  position: relative;
  top: 50%;
  margin: 10px;
  margin-bottom: 85px;
}
.button:hover {
  transform: scale(1.1);
  color: #e8fdef;
  background-color: #42b36b;
}

.text-center {
  text-align: center;
  margin-top: 20px;
}
