$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$gradient: linear-gradient(35deg, red, green);
$option: E6FEEF;

// body {
//   background: $gradient;
// }

/* <select> styles */

.Container {
  width: 30%;
}

.wrapper {
  position: sticky;
  top: 1%;
}

.filters {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  gap: 5px;
}
select {
  /* Reset */
  appearance: none;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, $glass-icon 3em, $glass 3em);
  color: #01280f;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */
  option {
    color: inherit;
    background-color: $option;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
}

.filterLogo {
  height: 1.2em;
  width: 1.2em;
}

.sortIcon {
  height: 0.9em;
  width: 0.9em;
}

@media screen and (max-width: 1020px) {
  .Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // align-items: center;
  }
  .select {
    width: 12em;
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .select {
    width: 100%;
  }
}
