.NavBar {
  display: flex;
  height: 60px;
  width: 100%;
  padding-top: 15px;
  align-items: center;
}

.NavBarAnimation {
  padding-top: 15px;
  height: 60px;
  display: flex;
  align-items: center;
  animation: 1.5s 0s 1 slideFromTop;
}

.ContainerText {
  width: 80%;
  display: flex;
  align-items: center;
}
.ContainerSearchBar {
  width: 20%;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;

  white-space: nowrap;
  background-color: transparent;

  border-radius: 6px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  text-align: center;
  padding: 20px 15px;
  -webkit-transition: color 0.3s; /* For Safari 3.0 to 6.0 */
  transition: color 0.3s;
}

li a:hover,
a:focus {
  color: #d2142d;
  cursor: pointer;
}

.active {
  background-color: #42b36b;
}

.main {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.mainText {
  font-weight: bolder;
  font-size: 1.3em;
}

.logoContainer {
  padding: 0;
}
.logo {
  width: 60px;
  transition: transform 0.7s ease-in-out;
}
.main:hover .logo {
  transform: rotate(360deg);
}
.items {
  width: 100%;
  display: flex;
  align-items: center;
}

.hamburguerMenu {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #01280f;
}

.navMenu {
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0.2;
    transform: translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1020px) {
  .main {
    margin-right: 0;
  }

  .navMenu {
    display: none;
  }
  .NavBarAnimation {
    justify-content: center;
  }
  .activenavMenu {
    display: flex;
  }

  .ContainerText {
    display: inline-flex;
  }
  .hamburguerMenu {
    margin-left: auto;
    display: block;
    background-color: transparent;
  }

  .items {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 1;

    background-color: #e6feeee0;
    flex-direction: column;
    animation: 1s 0s 1 slideFromLeft;
  }

  .ContainerSearchBar {
    display: none;
  }

  .activehamburguerMenu {
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .NavBar {
    flex-direction: column;
  }
  .activehamburguerMenu,
  .ContainerText {
    display: block;
  }

  .activehamburguerMenu .bar:nth-child(2) {
    opacity: 0;
    background-color: transparent;
  }
  .activehamburguerMenu .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .activehamburguerMenu .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navMenu {
    /* position: fixed; */
    /* display: none; */
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: aqua;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navMenu.active {
    left: 0;
  }
}
