.NavBar {
  padding: 15px 0;
  display: flex;
}
.ContainerText {
  width: 80%;
}
.ContainerSearchBar {
  width: 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;

  white-space: nowrap;
  background-color: transparent;

  border-radius: 6px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 22px 16px;
  -webkit-transition: color 0.3s; /* For Safari 3.0 to 6.0 */
  transition: color 0.3s;
}

li a:hover,
a:focus {
  color: #d2142d;
  cursor: pointer;
}

.active {
  background-color: #04aa6d;
}

.main {
  display: flex;
}
.main a {
  font-weight: bolder;
}

.logoContainer {
  padding: 0;
}
.logo {
  width: 60px;
  /* height: 60px; */
  transition: transform 0.7s ease-in-out;
}
.main:hover .logo {
  transform: rotate(360deg);
}
.items {
  margin-left: 3%;
}
