.SearchBar {
  display: flex;
  align-items: center;
  float: right;
}
.input {
  position: relative;
  /* top: 25px; */
  /* right: 5%; */
  transition: 0.9s ease;
  /* margin: 10px; */
  width: 150px;
  padding: 10px;

  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
  position: relative;
  /* top: 15px; */
  /* right: 3%; */
  background-color: #d2142d;
  border: 1px solid rgba(0, 0, 0, 1);
  color: #e8fdef;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform ease 0.8s, box-shadow ease 0.8s;
  margin: 10px;
}

.button:hover {
  z-index: 2;
  color: #e8fdef;
  background-color: #42b36b;
}
