.SearchBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}
.input {
  position: absolute;
  top: 15px;
  right: 3%;
  transition: 0.9s ease;
  margin: 10px;
  width: 200px;
  padding: 10px;
  margin-right: 2%;
  border: none;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #d2142d;
  border: none;
  color: #e8fdef;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 15px;
  /* right: 7%; */
  transition: 0.9s ease;
  margin: 10px;
}

.button:hover {
  transform: scale(1.1);
  color: #e8fdef;
  background-color: #42b36b;
}
